$small-text-color: rgb(149, 149, 149);
$small-text-size:20px;
$fs-35:35px;
$bg-color:#F7FAFD;
$content-color:rgba(237, 237, 237,.7);
$bd-color:#ccc;
$mask-bg:rgba(0, 0, 0, 0.2);
$mask-yuan:rgba(0, 0, 0, 0.4);
$msg-box-bg:#91e26c;
$primary-color: #2196F3;
$white:rgb(255,255,255);
$taBar-bg:#F7F8FA;