@font-face {
  font-family: "iconfont"; /* Project id 4208734 */
  src: url('//at.alicdn.com/t/c/font_4208734_8z4so5rr69f.woff2?t=1693066947467') format('woff2'),
       url('//at.alicdn.com/t/c/font_4208734_8z4so5rr69f.woff?t=1693066947467') format('woff'),
       url('//at.alicdn.com/t/c/font_4208734_8z4so5rr69f.ttf?t=1693066947467') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconset0398:before {
  content: "\e715";
}

.icon-vst_shipintonghua:before {
  content: "\e602";
}

.icon-xiaolian:before {
  content: "\e610";
}

.icon-jiahao2:before {
  content: "\e84f";
}

.icon-31paishexuanzhong:before {
  content: "\e601";
}

.icon-arrow-left:before {
  content: "\e624";
}

.icon-ellipsis:before {
  content: "\e60b";
}

.icon-weizhi:before {
  content: "\e604";
}

.icon-tupian:before {
  content: "\e60c";
}

.icon-hongbao:before {
  content: "\e870";
}

.icon-yuyin:before {
  content: "\e68d";
}

.icon-yuyinshuru:before {
  content: "\e623";
}

.icon-zhuanzhang:before {
  content: "\e606";
}

.icon-qiyeweixinEnterprise-WeChat:before {
  content: "\e609";
}

.icon-cuowuguanbiquxiao:before {
  content: "\e8e7";
}

.icon-X:before {
  content: "\e653";
}

.icon-pc_wujiaob_yundoc:before {
  content: "\e647";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-erweima:before {
  content: "\e642";
}

.icon-arrow-right:before {
  content: "\e622";
}

.icon-saoyisao:before {
  content: "\e664";
}

.icon-fujin:before {
  content: "\e60a";
}

.icon-iconfontzhizuobiaozhunbduan36:before {
  content: "\e6e9";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-xiaochengxu:before {
  content: "\e61e";
}

.icon-tupian_o:before {
  content: "\eb4f";
}

.icon-24gl-playCircle:before {
  content: "\ea6e";
}

.icon-kanyikan:before {
  content: "\e6a2";
}

.icon-icon-test:before {
  content: "\e607";
}

.icon-bullseye:before {
  content: "\e857";
}

.icon-kabao:before {
  content: "\e7d1";
}

.icon-biaoqing:before {
  content: "\e65d";
}

.icon-leidatu:before {
  content: "\e614";
}

.icon-a-rongqi18:before {
  content: "\e613";
}

.icon-shoucang:before {
  content: "\e600";
}

.icon-biaoqian:before {
  content: "\eabd";
}

.icon-shouye:before {
  content: "\e630";
}

.icon-my:before {
  content: "\e608";
}

.icon-tongxunlu:before {
  content: "\e60f";
}

.icon-xiaoxi:before {
  content: "\e612";
}

.icon-faxian1:before {
  content: "\e8c4";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-gongzhonghao:before {
  content: "\e68b";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-tianjiahaoyou:before {
  content: "\e618";
}

.icon-qunliao1:before {
  content: "\e611";
}
