*{
  margin: 0;
  padding: 0;
}
#app{
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.ml-10{
  margin-left: 10px;
}
.mr-3{
  margin-right: 3px;
}
.ml-3{
  margin-left: 3px;
}
.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin: 10px;
}


