
#app{
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.ml-10{
  margin-left: 10px;
}
.mr-3{
  margin-right: 3px;
}
.ml-3{
  margin-left: 3px;
}
.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin: 10px;
}
.pb-20{
  padding-bottom: 20px;
}
.flex-column{
  display: flex;
flex-direction: column;
}
.jc-center{

  justify-content: center;
}
.jc-end{
  justify-content: flex-end;

}
.ai-center{
  align-items: center;
}
.flex-1{
  flex: 1;
}
.flex-end{
  justify-content: flex-end;
}



